<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.sport.football">

    <application
        android:allowBackup="true"
        android:icon="@drawable/_8ec971141b4f0d35ab372c195c1a7fe"
        android:label="@string/label"
        android:roundIcon="@drawable/_8ec971141b4f0d35ab372c195c1a7fe"
        android:supportsRtl="true"
        android:theme="@style/Theme.Football">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>